<!doctype html>
<html>
<head>
    <title> Cric Stats </title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <div align="left"><label> <a href="/">Home Page </a></label></div>

        <div class="form-group">
            <label>Welcome to </label>
            <span class="label label-success"><%= series_name %></span>
            <label>from </label>
            <span class="label label-success"><%= stadium %></span>

            <label> the</label>
            <span class="label label-success"><%= mn %></span>

            <label>between</label>
            <span class="label label-success"> <%= teamList[0].fn %></span>
            <label> and </label>
            <span class="label label-success"><%= teamList[1].fn %></span>
        </div>
        <label>Man of the Match</label>
        <span class="label label-success"><%= mom %></span>
        <table width="200" class="table table-bordered">
            <thead>
            <tr>
                <th>Batsman</th>
                <th>Mode of Dismissal</th>
                <th>Runs</th>
                <th>Balls</th>
            </tr>
            </thead>
        </table>
        <div>
            <% for (var i = 0; i < teamA.length; i++) { %>
            <table width="200" class="table table-bordered">
                <tr id="tr_id_1">
                    <td align=left size=4><%= teamA[i].i %></td>
                    <td align=left><%= teamA[i].c %></td>
                    <td align=left><%= teamA[i].r %></td>
                    <td align=left><%= teamA[i].b %></td>
                </tr>
            </table>
            <% } %>
        </div>
    </div>
</div>
</div>
</body>
</html>