<!doctype html>
<html>
<head>
<title> Cric Node </title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
<style>
body {
    padding-top: 80px;
}
</style>
</head>
<body>
<div class="container">
<div class="jumbotron text-center">
<h2> Welcome to Cricket Scorecard System</h2>

<div class="form-group">
<label>MatchId</label>
<input type="text" class="form-control" placeholder= <%= mid %>>
</div>

<div class="form-group">
<label>Series Name</label>
<input type="text" class="form-control" placeholder= <%= series_name %>>
</div>

<div class="form-group">
<label>Match Name</label>
<input type="text" class="form-control" placeholder= <%= mn %>>
</div>

<div class="form-group">
<label>Stadium Name</label>
<input type="text" class="form-control" placeholder= <%= stadium %>>
</div>

<div class="form-group">
<label>Man of the Match</label>
<input type="text" class="form-control" placeholder= <%= mom %>>
</div>

</div>
</div>
</div>
</body>
</html>